* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: lightgray;
  height: 100vh;
}
body {
  height: 100%;
}
#root {
  
  height: 100%;
}
#pop-up {
  left: 35%;
  top: 35%;
  position: absolute;
}
#header {
  
  background-color: lightgray;
}

.documents {
  width: 90%;
  margin: auto;
}
.left-side {
  width: fit-content;
}
#header-doc {
  width: 100%;
}
.right-side {
  border: 1px solid;
  > p {
    text-align: center;
  }
}
.right-side article {
  justify-content: start;
  min-height: 300px;
}
.img-div {
  display: flex;
  align-items: center;
}
article {
  flex-direction: column-reverse;
}
.grid {
  display: grid;
  grid-template-columns: 250px 90%;
}
img {
  width: 100px;
}
.status.pending {
  margin-left: 15px;
  background-color: orange;
  padding: 7px;
  border-radius: 5px;
  font-weight: 700;
}
.status.success {
  margin-left: 15px;
  background-color: green;
  padding: 7px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
}
#disable {
  opacity: 0.3;
  cursor: default;
}
footer {
  width: 90%;
  > button {
    cursor: pointer;
  }
}
/* // Nav links */
.apps.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: #0312b2 !important;
}
.doc.active {
  background: #0b52d4;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.hoo:hover {
  opacity: 0.5;
}
#doc:hover {
  opacity: 0.7;
}
#doc {
  text-align: center;
}
#pop-up{
  width: 50%;
}

/* // loading */

.normal {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background: #03b252;
  height: 5px;
}
.loading {
  width: 100%;
  transition: all 3s ease;
}
.load {
  font-weight: 800;
  letter-spacing: 3px;
  font-family: sans-serif;
}
.doc-add-btn {
  margin: 0 1rem;
}
.img-name {
  margin-left: 1rem;
}
.spacing {
  top: 40%;
  right: 50px;
}
.popping {
  justify-content: end;
}
.btns {
  margin: 1rem 0;
}
.article {
  margin: 1rem;
}
.close{
  justify-content: space-between;
}
/* -------------------------------mobile view layout----------------------------------- */

@media (max-width: 600px) {
  #root{
    width: 100vh;
  }
  #why {
    font-size: 1rem;
  }
  .popping {
    justify-content: start;
  }
  .article {
    margin: 0;
  }
  .heading {
    font-size: 1.5rem;
  }
  #pop-up {
    left: 0;
    width: 100%;
  }
  #header-doc {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: 100px 60%;
    gap: 5px;
  }
  .btns {
    width: 80%;
  }
  .img-name {
    margin-left: 0;
    font-size: 0.5rem;
    font-weight: 100;
  }
  .spacing {
    top: 40%;
    right: 10px;
  }
  .doc-add-btn {
    margin: 0 0;
  }
  #doc {
    letter-spacing: 0;
  }
  .left-side {
    width: 100px;
    overflow-x: auto;
  }
  .status.pending {
    padding: 1px;
    font-weight: 100;
    font-size: 0.4rem;
  }
  .status.success {
    padding: 1px;
    font-weight: 100;
    font-size: 0.3rem;
  }
  .btns {
    margin: 5px 0;
  }
}
